<div class="container">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Choose your nick</div>
			<div class="panel-body">

				<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
					{{errorMessage}}
				</div>

				<div class="form-group">
					<form>
						<label for="nickname" class="control-label">Nick-name</label>
						<input type="text" class="form-control" id="nickname" name="nickname" ng-model="nickname" autofocus/>
					</form>
				</div>

				<button type="button" class="btn btn-primary" id="login" ng-click="login()">Enter chat</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="dropdown">
			<h4>Currently active users</h4>
			<ul>
				<li ng-repeat="active in activeusers">{{active}}</li>
			</ul>
		</div>
	</div>
</div>