<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<button type="button" class="btn btn-primary" ng-click="returnLobby()">Return to lobby</button>
	<div class="well">
		<div class="chatlist">
			<ul class="media-list">
			    <li class="media" ng-repeat="comment in commentHistory" on-finish-render="ngRepeatFinished">
			      <a class="pull-left" href="#">
			         <img class="media-object" src="http://www.adweek.com/socialtimes/files/2014/08/anonymous.jpg" 
			         alt="Generic placeholder image" height="42" width="65">
			      </a>
			      <div class="media-body">
			         <h4 class="media-heading">{{comment.nick}}</h4>
			         <p>{{comment.message}}</p>
			         <span class="date sub-text">{{comment.timestamp}}</span>
			      </div>
			   </li>
			</ul>
		</div>

		<label for="comment" class"control-label">Add comment</label>
		<input type="text" class="form-control" id="comment" ng-model="comment" />
	</div>
	<div class="alert alert-danger" ng-cloak ng-show="emptyComment != ''">
		{{emptyComment}}
	</div>
	<button type="button" class="btn btn-primary" id="addComment" ng-click="addComment()">Add Comment</button>
</div>
<!--new for opped users-->
<div class="col-md-3">
	<div class="alert alert-info" role="alert" ng-hide="oppedmessage">
  		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error</span>
  		Congratulations! You are now officially an operator of this room. But remember, with great power comes great responsibility!
	</div>
</div>

<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}
				<span class="btn-group">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Interact
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a id="lefty" role="menuitem" tabindex="-1" ng-click="kickUser(user)">Kick</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="banUser(user)">Ban</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="opUser(user)">Op</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deopUser(user)">DeOp</a></li>
						</ul>
					</div>
				</span>
			</li>
		</ul>
	</div>
	<div class="alert alert-warning" role="alert" ng-hide="selfkick">
  		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error</span>
  		Unfortunately you can not kick your self out of the chat. Just leave the room if you wish to leave.
	</div>
</div>

	<!-- Private msg gluggi -->
<div class="col-md-3">
	<h4>Private messages</h4>
	<div class="well">
		<div class="pmlist">
			<ul class="media-list">
			    <li class="media" ng-repeat="pm in pmHistory" on-finish-render="ngRepeatFinished"> <!-- Saekir oll private msg -->
			      <a class="pull-left" href="#">
			         <img class="media-object" src="http://www.adweek.com/socialtimes/files/2014/08/anonymous.jpg" 
			         alt="Generic placeholder image" height="42" width="65">
			      </a>
			      <div class="media-body">
			         <h4 class="media-heading">{{pm.nick}}</h4>
			         <p>{{pm.message}}</p>
			         <span class="date sub-text">{{comment.timestamp}}</span>
			      </div>
			   </li>
			</ul>
		</div>

		<label for="comment" class"control-label">Send private message to:</label>

		<select ng-model="pmTo">
			<option ng-repeat="user in currentUsers" value="{{user}}">{{user}}</option>
		</select>

		<input type="text" class="form-control" id="pm" ng-model="pm" />
	</div>
	<div class="alert alert-danger" ng-cloak ng-show="errorPM != ''">
		{{errorPM}}
	</div>
	<button type="button" class="btn btn-primary" id="sendPM" ng-click="sendPM()">Send message</button>
</div>
	<!-- Private msg gluggi  endar-->
