<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<button type="button" class="btn btn-primary" ng-click="returnLobby()">Return to lobby</button>
	<div class="well">
		<ul class="media-list">
		    <li class="media" ng-repeat="comment in commentHistory">
		      <a class="pull-left" href="#">
		         <img class="media-object" src="http://www.adweek.com/socialtimes/files/2014/08/anonymous.jpg" 
		         alt="Generic placeholder image" height="42" width="65">
		      </a>
		      <div class="media-body">
		         <h4 class="media-heading">{{comment.nick}}</h4>
		         <p>{{comment.message}}</p>
		         <span class="date sub-text">{{comment.timestamp}}</span>
		      </div>
		   </li>
		</ul>

		<label for="comment" class"control-label">Add comment</label>
		<input type="text" class="form-control" id="comment" ng-model="comment" />

	</div>
	<div class="alert alert-danger" ng-cloak ng-show="emptyComment != ''">
		{{emptyComment}}
	</div>
	<button type="button" class="btn btn-primary" ng-click="addComment()">Add Comment</button>
	


</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}
				<span class="btn-group">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Interact
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Send private msg</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kick</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ban</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Op</a></li>
						</ul>
					</div>
				</span>
			</li>
		</ul>
	</div>
</div>