<h3>Hi {{currentUser}} - Active chat rooms</h3>
<!-- start a new chat-->
<div class ="newRoom">
	<button type="button" class="btn btn-primary" ng-click="newRoom()">New Room</button>
	<div class="form-group" ng-hide="hidden">
		<label for="roomname" class="control-label" >Name of chatroom</label>
		<input type="text" class="form-control" ng-model="roomname" placeholder="..." />
		<button type="button" class="btn" ng-click="submitRoom()">Submit</button>
	</div>
</div>
<div class="row">
	<div class="well col-md-8">
		<ul ng-repeat="room in rooms">
			<li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
		</ul>
	</div>
	<div class="col-md-4" ng-hide="kickedmessage">
		<div class="alert alert-danger" role="alert">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  			You have been kicked out of {{room}} by {{kickedby}} Please behave yourself.
		</div>
	</div>

</div>
